@model IEnumerable<CopaDoMundo.Models.Jogos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gol1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gol2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fas.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seleco.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seleco1.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gol1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gol2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fas.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seleco.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seleco1.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JogoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JogoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JogoId })
        </td>
    </tr>
}

</table>
